header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -0.5rem;
    margin-right: -20vh;
    margin-left: -2vh;
    padding: 2.5rem;
    background-color: purple;
    color: #fff;
    position: sticky;
    top: 0;

}
img {
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}
.logo a{
    font-size: 1.5rem;
}
.nav-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: flex-start;

}
.nav-menu li{
    display: inline-block;
    margin-left: 20px;
}
.nav-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

body{

    justify-content: space-between;
    background-color: powderblue;
    display: flex;
    flex-direction: column;

}
.card-title{
    text-align: center;
    padding: 5px;
    font-family: emoji;
    font-size: 2rem;
}
.card-subtitle{
    text-align: center;
}
.card-text{
    margin: 2.5rem;
    padding-top: 1.5rem ;
    font-size: 1.5rem;
}

footer{
    background-color: orange;
    text-align: center;
    padding: 2rem;
}
@media screen and(max-width: 600px) {

    header{
       flex-direction: column;
        display: flex;
        position: sticky;
        top: 0;
        margin-right: -20vh;


    }
    .logo a{
        font-size: 1.5rem;
    }
    .nav-menu{
       display: none;
    }
    .nav-menu li{
        display:block;
        margin: 0;
        border-bottom: 1px solid #fff;
    }
    .nav-menu a{

        padding: 10px 0;
    }
    
}